body { 
      font-family: Arial; 
      max-width: 400px; 
      margin: 50px auto; 
      padding: 20px; 
      background: linear-gradient(135deg, lightyellow, rgb(51, 199, 207) 100%);
   
      color: white;
    }
    input { 
      width: 70%; 
      padding: 10px; 
      border: 2px solid black; 
      border-radius: 5px; 
    }
    button { 
      padding: 10px 20px; 
      border: none; 
      border-radius: 5px; 
      background:rgb(25, 178, 25); 
      color:black; 
      cursor: pointer;
    }
    #result { 
      margin-top: 20px; 
      padding: 20px; 
      background: rgba(255,255,255,0.1); 
      border-radius: 10px;
    }
    #error { color: red }
