body { 
      font-family: Arial; 
      max-width: 400px; 
      margin: 50px auto; 
      padding: 20px; 
        /* background: linear-gradient(135deg, lightblue, rgb(51, 199, 207) 100%); */
            background-image: url(image.webp);
    }
    input { 
      width: 70%; 
      padding: 10px; 
      border: 2px solid black; 
      border-radius: 5px; 
    }
    button { 
      padding: 10px 20px; 
      border: none; 
      border-radius: 5px; 
      background:rgb(25, 178, 25); 
      color:black; 
      cursor: pointer;
    }
    #glass{
      padding: 40px;
      background: rgba(255,255,255,0.3);
      border-radius: 5px;
    }
    #result { 
      margin-top: 20px; 
      padding: 20px; 
      background: rgba(255,255,255,0.1); 
      border:2px solid black;
      border-radius: 10px;
    }
    #error { color: red }
